@tailwind base;
@tailwind components;
@tailwind utilities;

#img-container:hover button {
  transform: translateX(0);
}

#basket {
  min-width: 26rem;
}

.visibility {
  visibility: visible;
}

.showBasket {
  transform: translateX(0);
}

.basket-item {
  display:flex;
  justify-content: space-between;
  
  align-items: center;
  margin: 1.5rem 0;
}

#logo {
  width: inherit;
}

#header {
  background-color: #d5ccdf;
}